
*{
    margin: 0;
    padding: 0;
}
.header__container{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: white;
    height: 70px;
}
.logo__container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}
.logo__container img{
    width: 80%;
    padding-top: 5px;
    margin-left: 20px;
    vertical-align: middle;
}
.delivery p{
    font-size: 10px;
}
.delivery{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3px;
   font-weight: bold;
   padding: 5px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1;
    border-radius: 10px;    
    width: 100%;
    overflow: hidden;
}
.search select, .search input{
    padding: 10px;
    font-weight: bold;
    outline: 10px solid white;
}
.search select{
    border: none;
}
.search input{
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
}
.search svg{
    padding: 7px;
    background: #febd69;
    color: #1a1a1a;
}
.search svg:hover{
    background-color: #d49644;
}
.search:focus-within{
    border: 2px solid rgb(235, 161, 173);
} 
.order__container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    overflow: hidden;
    gap: 10px;
}
.order__container a{
 text-decoration: none;
 color: white;
}
.order__container p{
    font-size: 10px;
}
.language{
    width: 100px;
    display: flex;
    padding: 10px;
}
.language select{
    background-color: #1a1a1a;
    border: none;
    color: white;
}
.language img{
    width: 40%;
}
.cart{
    position: relative;
}
.cart span{
    position: absolute;
    font-weight: bold;
    top: -12px;
    font-size: 20px;
    background-color: #1a1a1a;
    left: 8px;
    color: orange;
}
.language:hover, .delivery:hover, .logo__container img:hover, .order__container> *:nth-child(2):hover, .order__container> *:nth-child(3):hover{
    border: 1px solid white;
    padding: 10px;
    border-radius: 3px;
}
.fixed{
    position: sticky;
    top: 0;
    z-index: 100;
}

@media screen and (max-width:576px){
   .header__container{
    display: flex;
    flex-direction: column !important;
    height: auto;
   } 
   .container ul li:not(:first-child){
      display: none;
   }
   .language{
    display: none;
   }
}
